/* container.scss */

* {
  box-sizing: border-box;
  border: 0 none;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  display: grid;
  grid-template-columns: [first] 20% [second] auto [third] 20% [end];
  grid-template-rows: [row1-start] auto [row2-start] auto [row3-start] auto [row-end];
  background-color: $background-color;
}

.main {
  grid-column: second / third;
  grid-row: row2-start / row3-start;
}

.main {
  max-width: 44rem;
  padding: 2rem;
  margin: 0 auto;
  background-color: $main-background-color;
}

img,
picture {
  max-width: 100%;
  filter: $darkmode-img;
}

.sheet {
  width: 100%;
  height: 450px;
}

@media (max-width: 400px) {
  body {
    display: grid;
    grid-template-columns: [first] auto [second] auto [third] auto [end];
    grid-template-rows: [row1-start] auto [row2-start] auto [row3-start] auto [row-end];
    background-color: $background-color;
  }
}