/* container.scss */

* {
  box-sizing: border-box;
  border: 0 none;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  background-color: $background-color;
}

.main {
  flex: 1 0 auto;
}

.header,
.footer {
  flex: 0 0 auto;
}

.main {
  width: 100%;
  max-width: 44rem;
  padding: 2rem;
  margin: 0 auto;
}

img {
  max-width: 100%;
}
