/* footer.scss */

.footer {
  grid-column: first / end;
  grid-row: row3-start / row-end;
  display: grid;
  grid-template-columns: [first] 20% [second] auto [third] 20% [end];
  grid-template-rows: [row1-start] auto [row-end];
  align-items: center;
  padding: 2rem;
  background-color: $background-alternative-color;
  color: $font-alternative-color;
  margin-top: 20px;
  padding-top: 60px;
  border: $footer-border;
  max-width: 100%;
  --mask:
    radial-gradient(34.99px at 50% 48px, #000 99%, #0000 101%) calc(50% - 60px) 0/120px 100%,
    radial-gradient(34.99px at 50% -18px, #0000 99%, #000 101%) 50% 30px/120px 100% repeat-x;
  mask: var(--mask);
  mask: var(--mask);
}

.footer-text {
  grid-column: first / second;
  grid-row: row1-start / row-end;
}

.social { 
  a {
    text-decoration: none;
    font-size: 3rem;
    color: $font-alternative-color;
  }
  grid-column: third / end;
  grid-row: row1-start / row-end;
  justify-self: end;
}

