/* header.scss */

.header {
  grid-column: first / end;
  grid-row: row1-start / row2-start;
  display: flex;
  flex-direction: row;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 0;
  background-color: $header-background-color;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: $header-border;
}

.site-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav {
  align-self: flex-end;

  a {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    padding: 0.5rem;
  }

  ul {
    padding-bottom: 0;
    align-self: flex-end;
  }

  li:nth-child(odd) {
    background-color: $link-color-1;
  }

  li:nth-child(even) {
    background-color: $link-color-2;
  }

  li:hover {
    background-color: $hover-color;
  }
} 

@media (max-width: 767px) {
  .nav a {
    font-size: 0.5rem;
  }
}

/* Title */

.title,
.logo {
  padding: 0 3em 1em 0;
}

@media (max-width: 767px) {
  .title,
  .logo {
    padding: 1em 1em 1em 0;
  }

  .title {
    min-width: 50%;
  }

  .logo {
    max-width: 30%;
  }
}

.title * {
  color: $header-title;
}

.title p {
  font-style: italic;
}



.logo {
  img {
    filter: $dark-mode-logo;
  }
}
