table {
  font-size: 0.8em;
  margin-bottom: $magic-number;
  border-collapse: collapse;

  tr:nth-child(2n) {
    background-color: $table-nth-background;
  }

  // tbody>tr:hover {
  //   background-color: #faa;
  // }

  td {
    border-top: 1px solid $table-border;
    border-bottom: 1px solid $table-border;
  }

  th {
    text-align: left;
  }

  td,
  th {
    padding: 4px 12px;
  }
}
