/* test.scss */

.old-fashioned {
  background-color: rgba(245, 245, 220, 0.993);
  font-family: 'Castoro', serif;
}

.modern {
  font-family: 'IBM Plex Sans', sans-serif;
}

.worst-ever {
  background-color: rgb(148, 238, 13);
  color: rgb(139, 0, 139);
  font-family: 'Rock salt';
}
