

.old-fashioned {
    background-color: beige;
    font-family: 'Castoro', serif;
}

.modern {
    font-family: 'IBM Plex Sans', sans-serif;
}

.worst-ever {
    background-color: greenyellow;
    color: darkmagenta;
    font-family: 'Rock salt';
}