/* variables-dark.scss */

$main-font-color: #c5cbab;
$font-alternative-color: #c5cbab;
// $accent-color: #ee6c4d;
$background-color: #121212;
$background-alternative-color: #121212;
$magic-number: 1.4em;
$main-background-color: #252525;
$header-background-color: #2d3311ce;
$link-color-1: #444b22;
$link-color-2: #444b22;
$table-border: #424242;
$code-border: #444b22;;
$code-background: #2d3311ce;
$header-title: #c5cbab;
$shadow: rgba(0, 0, 0, 0.2);
$table-nth-background: #202020;
$main-font: 'Montserrat', sans-serif;
$footer-border: 4px solid #2d3311ce;
$header-border: '';
$hover-color: $header-background-color;
$link-text-color: #ededed;
$dark-mode-logo: opacity(0.1) contrast(50);
$darkmode-img: brightness(0.8) contrast(1.2);
